<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hidlibrary" version="3.3.24" targetFramework="net472" />
  <package id="Json.Net" version="1.0.18" targetFramework="net472" />
  <package id="System.Json" version="4.7.0" targetFramework="net472" />
  <package id="Theraot.Core" version="1.0.3" targetFramework="net472" />
</packages>